<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ssoftwares.appmaker">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppMaker"
        android:usesCleartextTraffic="true">
        <activity android:name=".activities.TestActivity"></activity>
        <activity
            android:name=".activities.MyApps"
            android:theme="@style/Theme.AppMaker.ActionBar" />
        <activity android:name=".activities.ForgotPassword"></activity>
        <activity android:name=".activities.MainActivity" >

        </activity>
        <activity
            android:name=".activities.MyCpanels"
            android:theme="@style/Theme.AppMaker.ActionBar" />
        <activity android:name=".activities.LoginActivity" />
        <activity
            android:name=".activities.ProductDemoActivity"
            android:theme="@style/Theme.AppMaker.ActionBar" />
        <activity android:name=".activities.SubProductsActivity" />
        <activity
            android:name=".activities.ProductDetailActivity"
            android:theme="@style/Theme.AppMaker.ActionBar" />
        <activity android:name=".activities.ProductsActivity" />
        <activity android:name=".activities.BuilderActivity" />
        <activity android:name=".activities.RegisterActivity" />
        <activity android:name=".activities.CategoryActivity" />
        <activity
            android:name=".activities.SplashActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths" />
        </provider>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>